.container-fluid{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#links {
text-align: center;
margin-top: 30px;
}
#links #linkh{
    color: white;
    text-decoration: none;
    margin: 10px;
}
#iconh,#siconh{
    margin: 10px;
}

#siconh:hover{
    color: green;
     transform: scale(1.4);
}
#iconh:hover{
    color: green;
     transform: scale(1.4);
}

#linkh:hover{
    color: green;
     transform: scale(1.4);
}
#imgh:hover{
    transform: scale(1.099);
}
#readmorebtn{
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(5, 80, 14);
    color: white;

}
#testsec{
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    margin-left: 5%;
}
#links #linkh:hover{
    color: green;
}


#contactbtn{
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(33, 21, 21);
    color: white;  
}
#olstorebtn{
    background-color: green;
    border: 1px solid black;
    border-radius: 40px;
    width: 250px;
    margin: 60px 0px ;
    height: 50px;
    color: white;
}

#testid{
    margin: 100px 0px;
}
.revsec  div{
    margin: 80px 10px;
    font-family: cursive;
    background-color: rgba(237, 242, 228, 0.366);
}
.rowsec{
    margin-left: 100px;
}
.rowsec div img{
    border-radius: 50px;
}
.imgsec div{
    margin: 30px 0px;
    font-family:fantasy;
}
