header #headertopdiv{
    background: radial-gradient(rgba(238, 229, 229, 0) , rgba(255, 255, 255, 0.099),rgba(255, 255, 255, 0.066)),url("C:\Users\KIRAN\OneDrive\Desktop\Bootstrap\Bootstrap_Project\Images\top_BG.jpeg");
}
#headerlowerdiv{
    background-image: url("C:\Users\KIRAN\OneDrive\Desktop\Bootstrap\Bootstrap_Project\Images\leaves_pattern_010.png");
}
#links{
    font-size: 15px;
    margin-bottom: 70px;
}
#links a{
    margin: 0px 10px;
}
#imgh:hover{
    transform: scale(1.099);
}
#toph11{
        font-size: 80px;
        color: green;
}
#toph11:hover{
    transform: scale(1.05);
}
#toph12{
    font-size: 80px;

}
#siconh{
    margin: 20px;
}
#iconh{
  margin: 20px;
}
#toph12:hover{
    transform: scale(1.05);
}
#linkh{
    color: white;
    text-decoration: none;
}
#linkh:hover{
    color: green;
     transform: scale(1.4);
}
#siconh:hover{
    color: green;
     transform: scale(1.4);
}
#iconh:hover{
    color: green;
     transform: scale(1.4);
}

#topsec #mediaicondiv i{
    margin: 5px 0px;
}

#topsec{
    margin-bottom: 35px;
    padding-top: 20px;
}
    body {
      background-color: #fff;
      font-family: 'Poppins', sans-serif;
    }

    .coffee-section {
      padding: 80px 0;
    }

    .coffee-title {
      color: #2E7D32; /* green color */
      font-weight: 700;
    }

    .coffee-subtitle {
      font-weight: 700;
      color: #000;
    }

    .icon-text {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .icon-text i {
      color: #2E7D32;
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .btn-green {
      background-color: #2E7D32;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 30px;
      font-weight: 500;
    }

    .btn-green:hover {
      background-color: #256428;
    }

    .btn-black {
      background-color: #000;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 30px;
      font-weight: 500;
      margin-left: 15px;
    }

    .btn-black:hover {
      background-color: #333;
    }

    .coffee-img {
      border-radius: 50%;
      overflow: hidden;
      max-width: 100%;
      height: auto;
    }

    .since-badge {
      position: absolute;
      background: #fff;
      border: 2px dashed #2E7D32;
      border-radius: 50%;
      padding: 20px;
      text-align: center;
      font-weight: 700;
      top: 20px;
      left: -30px;
    }

    .since-badge span {
      display: block;
      color: #2E7D32;
      font-size: 1.5rem;
    }

@media only screen and (min-width:768px){
  .cupsec2 {
    /* margin-left: 80px; */
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

    body {
      background-color: #f8f7f3;
      font-family: 'Poppins', sans-serif;
    }

    .coffee-types {
      padding: 80px 0;
      text-align: center;
      background-color: #f9f7f2;
    }

    .coffee-types h3 {
      font-weight: 600;
      color: #000;
      margin-bottom: 10px;
    }

    .coffee-types p.section-desc {
      color: #333;
      max-width: 800px;
      margin: 0 auto 50px;
      font-size: 1rem;
    }

    .coffee-item {
      position: relative;
      text-align: center;
      margin-bottom: 40px;
    }

    .coffee-item img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      transition: transform 0.3s ease;
    }

    .coffee-item:hover img {
      transform: scale(1.05);
    }

    .number-badge {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #2e7d32;
      color: white;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.1rem;
    }

    .coffee-title {
      margin-top: 20px;
      font-weight: 600;
      color: #000;
    }

    .coffee-desc {
      color: #555;
      font-size: 0.95rem;
      margin: 0 auto;
      max-width: 250px;
    }




#aromasec{
    margin: 100px 0px;
}
#aromasec div{
    margin: 20px 0px;

}

#readmorebtn{
    padding: 20px;
    border-radius: 30%;
    font-size: 20px;
    background-color: black;

}
#cupsec{
   align-items: center ;
}
#cupsec div{
    margin-top: 10px;
}

#olstorebtn{
    background-color: green;
    border: 1px solid black;
    border-radius: 40px;
    width: 250px;
    margin: 60px 0px ;
    height: 50px;
    color: white;
}

#fsec{
    margin-top: 50px;
    padding-top: 50px;
}
#prodimg:hover{
    transform: scale(1.02);
    background-color: green ;
    background: linear-gradient(rgba(0, 128, 0, 0.258),rgba(0, 128, 0, 0.389),rgba(0, 128, 0, 0.395));
}
